.page{
    background-color:#f2f5f5;
}
.top-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10;
    text-align: left;
}

.top-bar li{
    display:inline;
    margin-right:10px;
    font-size: 10;
    color: white;
    text-decoration: none;
}

.top-bar a{
    color:gray;
    text-decoration: none;
}

.top-bar p{
    text-align: right;
}
.top-bar{
    background-color:lightgray;
}

.midbar ul{
    list-style: none;
    padding: 5%;
    margin: right;
}

.midbar li{
    display: inline;
    border: 9px solid #15212b;
    border-radius: 5px;
    background-color:#15212b;
    color: white;
    font-size: 12px;
}

.midbar a{
    color: white;
    text-decoration: none; 
}